/* Global Stylesheet*/
.shadow, #projects .row .work-text .mistake, .overview h6 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }

html {
  border: 10px solid #ffe9e6; }

body {
  margin: 0;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  color: #666666;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

em, cite, i {
  font-style: italic; }

h1, h3 {
  color: #1a1a1a;
  font-family: "Lora";
  margin: 24px 0; }

h6 {
  color: #1a1a1a;
  padding-left: 34px;
  margin-top: -40px;
  font-size: 4em;
  text-transform: uppercase;
  text-align: left;
  position: absolute; }

p {
  line-height: 1.25em;
  margin: 15px 0; }

ul, ol, li {
  font-size: 16px; }

a {
  cursor: pointer; }
  a:focus {
    background: #ffe9e6; }

.link-primary, .banner .headline a {
  color: #ff614d;
  text-decoration: none; }

.link-secondary ul, .banner .main-nav ul, #projects .row .work-text .mistake ul, #about .resume .download ul {
  padding: 0; }
.link-secondary li, .banner .main-nav li, #projects .row .work-text .mistake li, #about .resume .download li {
  padding-right: 20px;
  display: inline-block;
  height: 20px; }
.link-secondary a, .banner .main-nav a, #projects .row .work-text .mistake a, #about .resume .download a {
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #999999; }
  .link-secondary a:hover, .banner .main-nav a:hover, #projects .row .work-text .mistake a:hover, #about .resume .download a:hover {
    transition: border .1s;
    border-bottom: 4px solid #999999; }

section {
  padding-top: 40px; }

span {
  display: inline-flex; }

/*Global Nav*/
header {
  margin: 40px; }
  header .logo {
    text-decoration: none;
    color: #666666; }
    header .logo img {
      width: 50px;
      padding-right: 10px;
      float: left; }
    header .logo p {
      display: inline-block;
      padding-top: 18px;
      font-size: 16px; }
  header #mandarin {
    display: inline;
    font-size: .75em; }

/*---- BREAKPOINT: 1024px ----*/
.banner {
  margin: 40px 40px 120px; }
  .banner .headline {
    margin: 25vh 0; }
    .banner .headline h1 {
      font-size: 2em; }
    .banner .headline p {
      font-size: 1.15em; }
  .banner .main-nav {
    margin-top: 40px; }

#projects {
  margin-bottom: 80px; }
  #projects .row {
    padding-bottom: 40px; }
    #projects .row .work-image {
      width: 80%;
      padding: 60px 100px 0 40px;
      background-color: #ffe9e6;
      display: inherit; }
      #projects .row .work-image img {
        width: 100%; }
    #projects .row .work-text {
      width: 20%;
      padding-right: 40px; }
      #projects .row .work-text .mistake {
        border-top: 5px solid #ff614d;
        margin-top: 60px;
        margin-left: -60px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0 20px 20px; }
        #projects .row .work-text .mistake p {
          color: #666666; }
        #projects .row .work-text .mistake ul {
          padding-top: 20px; }

#about .resume {
  background-color: #ffe9e6;
  padding: 40px;
  height: 800px;
  /*remove this later*/ }
#about #head img {
  width: 200px;
  height: 200px;
  border-radius: 50%; }
#about #gfy {
  position: absolute; }
  #about #gfy .wormhole {
    position: absolute;
    top: 70px;
    text-align: center; }
    #about #gfy .wormhole a {
      font-size: 1.5em;
      color: yellow;
      text-decoration: underline; }
      #about #gfy .wormhole a:hover {
        color: white; }

/* Global Stylesheet*/
.shadow, #projects .row .work-text .mistake, .overview h6 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }

html {
  border: 10px solid #ffe9e6; }

body {
  margin: 0;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  color: #666666;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

em, cite, i {
  font-style: italic; }

h1, h3 {
  color: #1a1a1a;
  font-family: "Lora";
  margin: 24px 0; }

h6 {
  color: #1a1a1a;
  padding-left: 34px;
  margin-top: -40px;
  font-size: 4em;
  text-transform: uppercase;
  text-align: left;
  position: absolute; }

p {
  line-height: 1.25em;
  margin: 15px 0; }

ul, ol, li {
  font-size: 16px; }

a {
  cursor: pointer; }
  a:focus {
    background: #ffe9e6; }

.link-primary, .banner .headline a {
  color: #ff614d;
  text-decoration: none; }

.link-secondary ul, .banner .main-nav ul, #projects .row .work-text .mistake ul, #about .resume .download ul {
  padding: 0; }
.link-secondary li, .banner .main-nav li, #projects .row .work-text .mistake li, #about .resume .download li {
  padding-right: 20px;
  display: inline-block;
  height: 20px; }
.link-secondary a, .banner .main-nav a, #projects .row .work-text .mistake a, #about .resume .download a {
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #999999; }
  .link-secondary a:hover, .banner .main-nav a:hover, #projects .row .work-text .mistake a:hover, #about .resume .download a:hover {
    transition: border .1s;
    border-bottom: 4px solid #999999; }

section {
  padding-top: 40px; }

span {
  display: inline-flex; }

/*Global Nav*/
header {
  margin: 40px; }
  header .logo {
    text-decoration: none;
    color: #666666; }
    header .logo img {
      width: 50px;
      padding-right: 10px;
      float: left; }
    header .logo p {
      display: inline-block;
      padding-top: 18px;
      font-size: 16px; }
  header #mandarin {
    display: inline;
    font-size: .75em; }

/*---- BREAKPOINT: 1024px ----*/
.overview {
  margin: 40px; }
  .overview h6 {
    border-top: 5px solid #ff614d;
    background-color: white;
    padding: 0 40px 0 0; }
  .overview p {
    padding-top: 60px; }
  .overview .tout {
    border: none; }

article {
  max-width: 800px;
  margin: 0 auto; }
  article img {
    border: 1px solid #999999; }
  article p {
    text-align: center;
    margin: 10px auto 60px; }

/*# sourceMappingURL=style.css.map */
