body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

em, cite, i {
  font-style: italic;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  letter-spacing: .05em;

}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;
}

p, ul, ol {
  margin: 1.5em 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.7em;
}


/*Global Nav*/
header {
  background: rgba(255, 233, 230, .9);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 70%;
  z-index: 999;
  padding: 0 15%;
}

.inner-page-header {
  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 10px;
}
/*YAYA LOGO img*/
.logo {
  float: left;
}
.logo img {
  padding: 5px 10px 0 0;
  float: left;
}
/*YAYA | Ya-Ting Wang*/
.logo h1 {
  color: rgba(128,128,128,1);
  line-height: 1;
  font-weight: 400;
  font-size: 1em;
  padding-top: 30px;
  float: right;
}

.main-nav {
  margin: .5em 0;
  word-spacing: .5em;
  padding: 28px 0 0 0;
  float: right;
}

.main-nav ul {
  margin: 0;
}
.main-nav li {
  padding: 0 0 0 20px;
  display: inline-block;
}
.main-nav a {
  font-size: 1em;
  display: inline-block;
  color: rgba(128,128,128,1);
  text-decoration: none;
}
.main-nav a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.banner {
  background: rgba(255, 233, 230, .9);
  position: relative;
  top: 80px;
  margin: 0;
  overflow: hidden;
  padding: 0 auto;
}

.banner-box {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.head {
  width: 200px;
  margin: 40px 0 0 0;
  float: left;
}

.head img {
  width: 180px;
  border-radius: 50%;
}

.banner img {
  cursor: default;
}

.banner h1 {
  margin: 0;
  font-size: 2em;
  letter-spacing: .16em;
}

.easter-egg {
  position: absolute;
  width: 180px;
  margin: 40px 0 0 0;
}

.easter-egg img {
  width: 100%;
  border-radius: 100%;
}

.easter-egg-wormhole {
  font-size: .7em;
  color: #fff;
  position: absolute;
  top: 60px;  
  text-align: center;
}

.easter-egg-wormhole a {
  text-decoration: underline;
}

.easter-egg-wormhole a:hover {
  color: yellow;
}

.intro {
  top: 30px;
  margin: 30px 0 60px 20px;
  position: relative;
  float: right;
}

.intro h1 {
  margin: 0;
  font-size: 2em;
  letter-spacing: .16em;
}

.intro h2 {
  font-size: 1em;
  margin: 0;
  letter-spacing: .13em;
}

.intro p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  position: relative;
  width: 300px;
  padding: 10px;
  padding-left: 35px;
  background: rgba(255, 97, 77, 1);
}

/*---- Thanks to John Clifford's Bubble Generator! http://ilikepixels.co.uk/drop/bubbler/ ----*/ 

.intro p:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent rgba(255, 97, 77, 1);
  display: block;
  z-index: 1;
  left: -11px;
  top: 17px;
}

dt {
  max-width: 980px;
  padding: 100px 15% 80px;
  margin: 0 auto; 
}

dt img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.even-spread {
  max-width: 980px;
  position: inherit;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.life-title {
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.life-title h1 {
  margin: 100px 0 0;
  padding: 8px 0;
  color: rgba(128,128,128,1);
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.life-title h2 {
  padding: 8px 0;
  color: rgba(128,128,128,1);
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.life-box {
  top: 0;
  padding-top: 20px;
  width: 200px;
  position: relative;
  display: inline-block;
  height: auto;
  overflow: hidden;
  vertical-align: top;
}

.life-box img{
  width: 180px;
  margin: 10px auto;
}

.life-box p {
  font-size: .9em;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  text-align: left;
}

.exp-box {
  padding: 40px 0;
  margin: 0 auto;
  overflow: hidden;
}

.exp-box img {
  width: 180px;
  float: left;
}

.exp-box-content {
  width: 73%;
  float: right;
  text-align: left;
}

.exp-box h2{
  font-size: 1.1em;
  margin: 0;
  line-height: 1em;
}

.exp-box h3{
  color: #808080;
  font-size: 1em;
  margin: 0;
  line-height: 2em;
}

.exp-box ul {
  padding-left: 16px; 
}

.exp-box li{
  margin: 0;
  font-size: 1em;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  text-align: left;
}

.exp-box p{
  display: none;
/*  position: relative;
  float: left;
  margin: 5px;
  padding: 3px 8px;
  font-size: .9em;
  font-family: "roboto", sans-serif;
  color: white;
  background: rgba(128, 128, 128, 0.6);*/
}

.work-box {
  padding-top: 40px;
  width: 420px;
  position: relative;
  display: inline-block;
}

.work-box img {
  width: 100%;
}

.resume {
  margin: 20px auto;
  width: 180px;
  padding: 10px 16px;
  background: rgba(255, 97, 77, 1);
  text-align: center;
  color: white;
}

.resume a:hover {
  opacity: .7;
}


/*---- FOOTER ----*/


footer {
  bottom: 0;
  background: rgba(128, 128, 128, 1);
  clear: both;
  overflow: hidden;
  padding: 30px 15%;

}

.footer-box {
  max-width: 980px;
  margin: 0 auto;
}

.email {
  float: right;
  padding: 10px 0;
  width: 180px;
  background: rgba(255, 97, 77, 1);
  text-align: center;
  color: white;
}

.contact {
  float: left;
  text-align: left;
  font-family: "roboto", sans-serif;
  color: white;
  font-size: 1em;
}

.copyright {
  font-size: .7em;
  color: white;
  clear:both;
  text-align: left;
}

footer p {
  margin: 0;
}

footer li {
  position: relative;
  display: inline;
  padding: 0 20px 0 0;
  list-style-type: none;
  clear: both;
}

footer a:hover {
  opacity: .7;
}


/*---- WORK ----*/
/*Slideshow*/
object {
  margin: 0 auto;
}

.gif {
  margin: 0 auto;
}
.gif img{
  display: block;
  width: 250px;
  border: 2px solid #808080;
  margin: 50px auto;
}

.gif-h img{
  width: 500px;
}

.arrow {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

/*Project Overview*/
aside {
  background: rgba(128, 128, 128, .3);
  margin: 20px auto;
  overflow: hidden;
  display: inline-block;
  width: 100%;

}

.overview-1 {
  padding: 15px 3%;

}

.overview-1 h2 {
  width: 35%;
  margin: 15px auto;
  padding: 8px 0;
  color: rgba(128,128,128,1);
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.overview-1 p{
  text-align: center;
}


.overview {
  padding: 15px 3%;
  width: 27%;
  position: relative;
  display: inline-block;
  float: left;
}

.overview h2 {
  border-bottom: 2px solid black;
  font-size: 1em;
}

.overview p {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}

.overview ul {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 0 0 20px 15px;
}


/*Content*/
article {
  margin: 80px 0;
}

article img {
  width: 100%;

}

.inner-article {
  clear:both;
  overflow: hidden;
  margin-bottom: 80px;
}


.inner-article-last {
  clear:both;
  overflow: hidden;
}

.left-image {
  width: 50%;
  float: left;
  clear: both;
  margin-bottom: 50px
}

.right-text {
  width: 45%;
  float: right;
  margin-bottom: 50px;
}

.right-text p{
  margin: 0;
}

.span-image {
  width: 100%;
  clear: both;
}

.span-image img {
  margin-bottom: 50px;
}

.span-image-half {
  clear:both;
  text-align: justify;
}

.span-image-half img{
  width: 49%;
  position: relative;
  display: inline-block;
}


article h2 { 
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 8px 0;
  color: rgba(128,128,128,1);
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  width: 35%;
}

article p {
  margin: 0 20px 50px 0;
  padding: 0;
  text-align: left;
  line-height: 1.5em;
}

.right-text-findings {
  float: right;
}


article h3 {
  margin: 0;
  padding: 0;
  list-style-type: square;
  text-align: left;
}

article li {
  margin: 0 20px 15px 15px;
  padding: 0;
  text-align: left;
}

.button {
  background: rgba(255,97,77,1);
  color: white;
  float: right;
  padding: 30px;
  bottom: 0;
  text-decoration: none;
}

.button a:hover{
  color: rgba(255, 255, 255, .7);
}

.stretch {
  width: 100%;
  display: inline-block;
}

/*---- RESPONSIVE ----*/


@media only screen and (max-width: 1023px) {
  
  body {
    padding: 0;
  }

  h1, h2, p, ul, ol {
    text-align: center;
    padding: 0 5%;
  }

  header {
    padding: 0;
    width: 100%;
    height: 60px;
  }

  .inner-page-header {
    margin: 0;
    padding: 10px 5%;
  }

  .logo img {
    padding: 0;
    width: 40px;
    height: auto;
  }

  .logo h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    top: 0;
    right: 5%;
  }
  
  .main-nav { 
    display: none;
  }


  dt {
    margin: 100px 5%;
    padding: 0;
  }

  .banner .intro {
    width: 100%;
    text-align: center;
    float: none;
    clear: both;
    margin-top: 0;
    margin: 0;
  }

  .banner {
    top: 60px;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .head {
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .easter-egg {
    position: relative;
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
  }

  .intro h1 {
    line-height: 1.1em;
  }

  .intro h2 {
    padding-top: 10px;
  }

  .intro p {
    margin: 20px auto 10px;
    height: 50px;
    text-align: center;
    padding: 10px 0;
  }

  .intro p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: rgba(255, 97, 77, 1) transparent;
    display: block;
    z-index: 1;
    top: -10px;
    left: 140px;
  }

  .life {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .life-title {
    padding: 0;
    width: 100%;
  }

  .life-box {
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }

  .life-box img {
    width: 180px;
    margin: 0 auto;
  }

  .life-box p {
    width: auto;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 1.1em;
  }

  .work {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .life-title h1 {
    margin: 0;
    margin-top: 60px;
    text-align: center;
  }
  .work-box {
    width: 100%;
  }

  .exp {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .exp-box {
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
  }

  .exp-box img {
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  .exp-box-content {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
  }

  .exp-box h2 {
    line-height: 1.3em;
  }

  .exp-box h3 {
    padding-top: 10px;
    font-size: .8em; 
  }

  .exp-box li {
    font-size: 1.1em;
  }

  .exp-box p {
    display: none;
  }

  footer {
    padding: 30px 5%;
  }

  .email, .contact, .copyright {
    text-align: center;
    float: none;
  }

  .email {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact ul {
    margin: 0;
    margin-top: 20px;
  }
}




