@import "theme";

.overview {
  margin: 40px;

  h6 {
    @extend .shadow;
    border-top: 5px solid $color-primary;
    background-color: white;
    padding: 0 40px 0 0;
  }

  p {
    padding-top: 60px;
  }

  .tout {
    border: none;
  }
}

article {
  max-width: 800px;
  margin: 0 auto;

  img {
    border: 1px solid $color-light;
  }

  p {
    text-align: center;
    margin: 10px auto 60px;
  }
}
