/* Global Stylesheet*/
$color-primary: #ff614d;
$color-accent: #ffe9e6;
$color-dark: #1a1a1a;
$color-medium: #666666;
$color-light: #999999;
$white: #fff;

.shadow {
  box-shadow: 6px 6px 2px rgba(0, 0, 0, .1);
}

@mixin shadow-lg {
  box-shadow: 8px 8px 6px rgba(0, 0, 0, .1);
}

@mixin shadow-inner {
  box-shadow: inset -4px 4px 2px rgba(0, 0, 0, .1);
}

@mixin text-emboss {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-text-stroke: 1px rgba($color-light, .05);
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-accent;
  border: 15px solid $color-accent;

  @media screen and (min-width: 1280px){
    border-width: 40px;
  }
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  color: $color-medium;
}

em, cite, i {
  font-style: italic;
}

h1, h3 {
  color: $color-dark;
  font-family: "Playfair Display";
  letter-spacing: 1px;
  margin: 24px 0;
}

h6 {
  @include text-emboss;
  font-size: 2em;
  color: $white;
  text-transform: uppercase;
  text-align: left;
  padding-left: 18px;
  margin: 10px 0 0;

  @media screen and (min-width: 1280px){
    font-size: 4em;
    padding-left: 38px;
    margin: 10px 0 20px;
  }
}

p {
  line-height: 1.25em;
  margin: 15px 0;
}

ul, ol, li {
  font-size: 1em;
}

a {
  cursor: pointer;

  &:focus {
    background: $color-accent;
  }
}

.link-primary {
  color: $color-primary;
  text-decoration: none;
}

.link-secondary {
  ul {
    padding: 0;
  }

  li {
    padding-right: 20px;
    display: inline-block;
    height: 20px;
  }

  a {
    color: $color-medium;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid $color-light;

    &:hover {
      transition: position .1s;
      border-bottom: 4px solid $color-light;
    }
  }
}

section {
  @extend .shadow;
  padding-top: 10px;
  background-color: white;

  @media screen and (min-width: 1280px){
    padding-top: 5px;
    border: 1px solid rgba($color-light, .1);
  }
}

span {
  display: inline-flex;
}

details {
  display: none;

  @media screen and (min-width: 1280px){
    display: block;
  }
}

summary {
  @extend .link-primary;
  font-size: 1.25em;
  padding-bottom: 20px;
  cursor: pointer;
}
